*.swp
*.sw?
core
*.pbc
src/Git2/Common.pir
src/Git2/Repository.pir
src/Git2/Cache.pir
src/Git2/Common.pir
src/Git2/RefCache.pir
src/Git2/Repository.pir
src/Git2/Index.pir
src/Git2/Oid.pir
src/Git2/Odb.pir
rosella
tags
